@import "tailwindcss";

html {
  scroll-behavior: auto;
}

@theme {
  --font-outfit: "outfit", sans-serif;
  --font-ovo: "ovo", serif;
}

::-webkit-scrollbar {
  @apply w-[7px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-emerald-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-emerald-600;
}
